#!/usr/bin/make -f

P = obnam

build:
	$(MAKE)

binary: binary-arch binary-indep

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp debian/tmp/DEBIAN
	install -m 0644 debian/conffiles debian/tmp/DEBIAN/conffiles
	install -d debian/tmp/usr/share/lintian/overrides
	install -m 0644 debian/lintian.overrides \
	    debian/tmp/usr/share/lintian/overrides/$P
	install -d debian/tmp/etc/obnam/gpg
	install -d debian/tmp/etc/obnam/ssh
	install -d debian/tmp/etc/cron.daily
	install -m 0755 debian/cron.daily debian/tmp/etc/cron.daily/obnam
	install -d debian/tmp/etc/default
	install -m 0644 debian/default debian/tmp/etc/default/obnam
	install -d debian/tmp/usr/bin
	install -d debian/tmp/usr/share/doc/$P
	strip --strip-unneeded -R .note -R .comment odirect_read
	$(MAKE) prefix=debian/tmp/usr etcdir=debian/tmp/etc install
	install -d debian/tmp/usr/share/$P
	install -m 0644 debian/default.conf debian/tmp/usr/share/$P/obnam.conf
	gzip -9 debian/tmp/usr/share/man/man1/*
	sed -i 's,^#!/usr/sbin/python$$,&2.4,' debian/tmp/usr/bin/obnam
	install -m 0644 debian/changelog \
	    debian/tmp/usr/share/doc/$P/changelog.Debian
	install -m 0644 NEWS debian/tmp/usr/share/doc/$P/changelog
	install -m 0644 README debian/tmp/usr/share/doc/$P
	gzip -9 debian/tmp/usr/share/doc/$P/*
	install -m 0644 debian/copyright debian/tmp/usr/share/doc/$P
	dpkg-gencontrol -isp
	chown -R root:root debian/tmp
	chmod -R o-s,go=u,go-ws debian/tmp
	chmod 0700 debian/tmp/etc/obnam/gpg
	chmod 0700 debian/tmp/etc/obnam/ssh
	dpkg --build debian/tmp ..

binary-indep:

clean:
	$(MAKE) clean
	rm -rf debian/files debian/substvars debian/tmp
